* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: consolas;
  scroll-margin-top: 10vh;
}

body {
  background-color: rgb(20, 69, 96);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* main */

#navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(20,20,20);
  width: 100vw;
  height: 10vh;
  z-index: 1;
}

#navbar div {
  display: flex;
  margin-right: 4em;
  justify-content: center;
  gap: 3rem;
}

.projects-insite-link {
  text-align: center;
  font-size: 1.1em;
}

.projects-insite-link a {
  text-decoration: none;
  color: teal;
}

#welcome-section {
  margin-top: 10vh;
  width: 100vw;
  height: 100vh;
  background-color: rgb(20, 69, 96);
  font-size: 1.5em;
}

#welcome-section * {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
  text-align: center;
  top: 35%;
  padding: 0 30px;
}

/* works */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(65,75,85,60%);
  width: 100vw;
  height: min-content;
  min-height: 90vh;
}

#projects-heading {
  text-align: center;
  margin: 10px 0px;
  padding: 20px 0px;
  padding-top: 20px;
  color: linen;
  font-size: 2em;
}

#projects-heading hr {
  width: 20%;
  margin: auto;
  margin-top: 0.5em;
}

#projects-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 3em;
  justify-content: center;
  max-width: 100%;
  max-height: min-content;
  margin-bottom: 2em;
  margin-top: 3.2em;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tile img {
  width: 100%;
  height: 270px;
  object-fit: fill;
}

.project-tile p {
  width: 100%;
  height: 2em;
  text-align: center;
  padding-top: 1em;
  color: linen;
  font-size: 1.2rem;
  background-color: rgba(20, 20, 20, 75%);
  border-radius: 0% 0% 2em 2em;
  font-weight: bold;
}

.project-tile p:hover {
  animation: tile-hover 0.2s ease-in;
  background-color: linen;
  color: rgba(20, 20, 20, 75%);
  cursor: pointer;
}

.project-tile p:active {
  background-color: gray;
}

/* profile link */

#profile-link-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: rgba(20, 20, 20, 75%);
  border-radius: 25px;
  color: linen;
  text-align: center;
  margin: 3em;
  font-size: 1.1rem;
  font-weight: bold;
}

#profile-link-section:hover {
  animation: tile-hover 0.2s ease-in;
  background-color: linen;
  color: rgb(20, 20, 20);
  font-weight: bold;
  cursor: pointer;
}

#profile-link-section:active {
  background-color: gray;
}

/* contact section */

#contact {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(69, 54, 96, 75%);
}

#contact p {
  padding: 1em;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

#contact-icons {
  font-size: 3em;
}

#contact-icons a:hover {
  animation: contact-icons-hover 0.2s ease-in;
  cursor: pointer;
  filter: invert(100%);
}

#contact-icons a:active {
  filter: invert(50%);
}

/* footer */

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  min-height: 10vh;
  text-align: center;
  font-size: 0.9rem;
  color: teal;
  background-color: rgb(20, 20, 20);
}

/* keyframes */

@keyframes tile-hover {
  0% {
    background-color: rgba(20, 20, 20, 75%);
    color: linen;
  }
  100% {
    background-color: linen;
    color: rgb(20, 20, 20);
    font-weight: bold;
  }
}

@keyframes contact-icons-hover {
  0% { filter: invert(0%); }
  100% { filter: invert(100%); }
}

/* media */

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
